.card {
  background-color: var(--card-bg);
  border-radius: var(--radius-xl);
  border: 1px solid var(--border-color);
  padding: var(--spacing-6);
  box-shadow: var(--shadow-xs);
}

.card--sm {
  box-shadow: var(--shadow-xs);
}

.card--md {
  box-shadow: var(--shadow-sm);
}

.card--lg {
  box-shadow: var(--shadow-md);
}
